@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('asserts/tipos-empresas-1200_og.jpg')
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

 .nav {
  position: fixed;
  background-color: rgba(19, 13, 13, 0.356);
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  transition: all 0.3s ease-in-out; 
}

  .nav .container {
  display: inline-flex ;
   justify-content: space-between;
  align-items: right;
  padding: 0 0;
  transition: all 0.3s ease-in-out; 
} 

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
} 

 .nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
} 

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}
 


/* opção de menu */ 
.dropbtn {
  background-color: #0707073a;
  color: white;
  padding: 16px;
  font-size: 14px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 12px 0px rgba(19, 13, 13, 0.356);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #c0392b;}


/* Teste aqui  */
